---
title: Nikon Zシリーズユーザーにおすすめ 望遠ズームレンズ４選！
description:
bodyId: recommendation_lens_t2_01
utm: ?utm_source=cx_t2_ml&utm_medium=email&utm_campaign=d001_cx_t2_recommendzoomlens_ml
---
{% from '../../components/gap.njk' import gap %}
{% from '../../components/image.njk' import image %}
{% from '../../components/text.njk' import text %}
{% from '../../components/list-order.njk' import listOrder %}
{% from '../../components/buttons.njk' import buttons %}

{{ image(site, bodyId + '/img/heading.png', '遠くても小さくても、魅力を最大限引き出す　Nikon Zシリーズユーザーにおすすめ 望遠ズームレンズ４選！', 700, true) }}
{{ gap(60) }}
{{ image(site, bodyId + '/img/hero.png?25103101', '世界を惹き寄せる。', 800) }}
{{ gap(40) }}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 10% 6.25% 7.5% 6.25%; background-color: #000000;">
      {{ image(site, bodyId + '/img/intro-heading-01.png', '被写体を大きく写し出す“望遠”の力') }}
      {{ gap(40) }}
      {{ text('Nikon Zシリーズをお使いの皆さまへ。<br>「遠くの風景や近寄ることのできない被写体を大きく写したい」<br>「動物や野鳥、飛行機の撮影をしてみたい」<br>このように、今以上に撮影の幅を広げたいときにおすすめしたいのが「望遠ズームレンズ」です。', 'text-normal', 'color: #ffffff;') }}
      {{ gap(80) }}
      {{ image(site, bodyId + '/img/intro-heading-02.png', '望遠ズームレンズの特徴') }}
      {{ gap(40) }}
      {{ text('おおよそ85mm以上を「望遠」と呼びますが、70mm～135mmを「中望遠」、300mm以上を「超望遠」と呼び、望遠になるほど以下の特徴を生かせます。', 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ listOrder(['遠くの被写体や小さな被写体を大きく写せる', '同じＦ値の場合、望遠ほど大きくボケる'], 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/intro-img-01.png') }}
      {{ gap() }}
      {{ text('特に焦点距離を変えられる望遠ズームレンズは、１本で様々なシーンに対応できるため便利です。', 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/intro-img-02.png') }}
      {{ gap() }}
      {{ text('また、400mmなど超望遠をカバーするレンズは“大きく重い”という印象を持たれているかもしれませんが、小型・軽量化・手ブレ補正の強化が進み、手持ちでも快適に撮影でき、カバンに収まるようなレンズも登場しています。', 'text-normal', 'color: #ffffff;') }}
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 2.5% 10% 2.5%; background-color: #EEEEEF;">
      {{ image(site, bodyId + '/img/lens-heading.png', 'おすすめの望遠・高倍率ズームレンズ4選', 700, 'padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(25) }}
      {{ text('今回は、超望遠ズームや広角・標準域～望遠をカバーする高倍率ズームまで、表現の幅を広げるおすすめの4本をご紹介します。', 'text-normal', 'text-align: center; padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(40) }}

      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-01-heading.png', 'おすすめレンズ 01') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-lead.png', '圧倒的な描写・手ブレ補正効果を発揮する望遠ズーム NIKKOR Z 70-200mm f/2.8 VR S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-01-name.png', 'NIKKOR Z 70-200mm f/2.8 VR S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-product.png', 'NIKKOR Z 70-200mm f/2.8 VR S') }}
            {{ gap() }}
            {{ text('NIKKOR Z レンズの中でも、特に光学性能を追求した「S-Line」の望遠ズームレンズです。<br>「マルチフォーカス方式」を採用し、撮影距離を問わず、絞り開放から画像周辺部まで高い解像力によって細部まで克明に描写します。また、あらゆる入射光に起因するゴースト、フレアを効果的に低減。開放F値2.8ならではの大きく美しい自然なボケを活かし、被写体を印象的に際立たせる表現も楽しめます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-02.png') }}
            {{ gap() }}
            {{ text('5.5段※1の高い手ブレ補正効果を発揮するとともに、動体撮影に適した［SPORT］モードも搭載。高速・高精度なAFと相まって、動く被写体もシャープに捉えることができます。野生動物や風景、スポーツシーンなど様々な静止画・動画撮影において、優れたパフォーマンスを発揮する１本です', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※1　5.5段：［NORMAL］モード使用時。35mmフィルムサイズ相当の撮像素子を搭載したミラーレスカメラ使用時。最も望遠側で測定。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_70-200mm_f28_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_70-200mm_f28_vr_s/', 'https://nij.nikon.com/shop/g/g4960759902191/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-02-heading.png', 'おすすめレンズ 02') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-lead.png', '600mmまでカバーする、機動性・操作性に優れた超望遠 NIKKOR Z 180-600mm f/5.6-6.3 VR') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-icon.png', '[フルサイズ]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-02-name.png', 'NIKKOR Z 180-600mm f/5.6-6.3 VR') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-product.png', 'NIKKOR Z 180-600mm f/5.6-6.3 VR') }}
            {{ gap() }}
            {{ text('焦点距離180-600mmまでをカバーする、超望遠ズームレンズ。<br>質量は約1955g※2と600mmまでをカバーするレンズとしては軽量で、5.5段※3の強力な手ブレ補正効果と相まって、手持ちでも鳥や動物、飛行機などを快適に撮影できます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-02.png') }}
            {{ gap() }}
            {{ text('ズーミングによる重心移動の少ない「インターナルズーム機構」の採用、レンズを持ち直すことなく広角端⇔望遠端のズーム操作ができるズームリング回転角70°など、優れた操作性を実現。防汚性能に優れ、防塵・防滴に配慮した設計※4により、山の中など屋外でも安心で、撮影の幅を広げる頼もしいレンズです。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※2　約1955g：三脚座リング未装着時。三脚座リング装着時は約2140g。<br>※3　5.5段：CIPA規格準拠。[NORMAL]モード使用時。35mmフィルムサイズ相当（フルサイズ/FXフォーマット）の撮像素子を搭載したミラーレスカメラ使用時。最も望遠側で測定。<br>※4　すべての条件で完全な防塵・防滴を保証するものではありません。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/shop/g/g4960759911049/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-03-heading.png', 'おすすめレンズ 03') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-lead.png', '高い光学性能と操作性。超望遠ズームを革新するレンズ NIKKOR Z 100-400mm f/4.5-5.6 VR S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-03-name.png', 'NIKKOR Z 100-400mm f/4.5-5.6 VR S') }}
            {{ gap(20) }}
            {{ image(site, bodyId + '/img/lens-03-product.png', 'NIKKOR Z 100-400mm f/4.5-5.6 VR S') }}
            {{ gap() }}
            {{ text('「S-Line」ならではの圧倒的な光学性能を持ち、焦点距離100mmから400mmの広い範囲をカバーできる超望遠ズームレンズです。<br>遠く離れた1羽の野鳥や群れ全体の撮影、花や昆虫のクローズアップ撮影など、さまざまな被写体を捉えることができます。最短撮影距離が0.75m（広角端。望遠端は0.98m）と短く、花や昆虫のクローズアップ撮影も可能です。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-02.png') }}
            {{ gap() }}
            {{ text('ズーミングによる重心移動を抑える「重心移動レス機構」の採用、クラス最小※5のズームリング回転角で、レンズを持ち直すことなくズーム操作が可能。クラス最軽量※5の約1355g、一般的な超望遠ズームレンズで発生しやすい自重によるレンズの伸縮を抑制し、持ち歩きや上向きの望遠撮影も快適です。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※5　2021年10月28日現在発表済みの焦点距離100-400mm、開放F値4.5-5.6の35mmフィルムサイズ相当の撮像素子を搭載したレンズ交換式デジタルカメラ用交換レンズにおいて。ニコン調べ。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/shop/g/g4960759906557/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-04-heading.png', 'おすすめレンズ 04') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-lead.png', '旅やテーマパーク撮影にも。あらゆるシーンをカバーする高倍率ズーム NIKKOR Z 28-400mm f/4-8 VR') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-icon.png', '[フルサイズ]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-04-name.png', 'NIKKOR Z 28-400mm f/4-8 VR') }}
            {{ gap(20) }}
            {{ image(site, bodyId + '/img/lens-04-product.png', 'NIKKOR Z 28-400mm f/4-8 VR') }}
            {{ gap() }}
            {{ text('広角28mmから超望遠400mmまで、約14.2倍の幅広い焦点距離をカバーする高倍率ズームレンズ。<br>風景、乗り物、スポーツ、動物、花、スナップまで、日常のあらゆるシーンに1本で対応します。全長約141.5mm※6・約725gと携帯性に優れた小型・軽量設計により、カバンやリュックに入れて簡単に持ち運ぶことができ、荷物が多くなってしまう旅先やテーマパークでも快適に撮影できます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-img-02.png') }}
            {{ gap() }}
            {{ text('また、広角端（28mm時）は最大撮影倍率0.35倍、最短撮影距離0.2mの高い近接撮影性能を実現。イスに座った状態からでも、お菓子などを大きく写した印象的なテーブルフォトを撮影できます。5.0段※7の強力な手ブレ補正効果を備え、夕暮れ時や室内などの薄暗いシーンや、400mmの望遠端での撮影時でも、手ブレを気にせず手持ち撮影が可能です。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※6　レンズマウント基準面からレンズ先端まで。<br>※7　CIPA規格準拠。［NORMAL］モード使用時。最も望遠側で測定。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/shop/g/g4960759912893/') }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% set lineupItems = [
{
name: 'IKKOR Z 70-200mm f/2.8 VR S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_70-200mm_f28_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_70-200mm_f28_vr_s/', 'https://nij.nikon.com/shop/g/g4960759902191/']
},
{
name: 'NIKKOR Z 180-600mm f/5.6-6.3 VR',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/shop/g/g4960759911049/']
},
{
name: 'NIKKOR Z 100-400mm f/4.5-5.6 VR S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/shop/g/g4960759906557/']
},
{
name: 'NIKKOR Z 28-400mm f/4-8 VR',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/shop/g/g4960759912893/']
}
] %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 6.25% 7.5% 6.25%;">
      {{ text('「望遠」で惹き寄せる被写体の魅力。<br>望遠ズームレンズが１本あれば、写真の世界は大きく広がります。<br>ぜひお気に入りのレンズを見つけて、新たな被写体との出会いをお楽しみください。', 'text-normal') }}
      {{ gap(40) }}
      {{ image(site, bodyId + '/img/lineup-heading.png', '望遠・高倍率ズームでおすすめのNIKKOR Zレンズ４選') }}
      {% for item in lineupItems %}
      {{ gap(60) }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-name.png', item.name) }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-product.png', item.name) }}
      {{ gap(40) }}
      {{ buttons(site, bodyId, utm, item.links[0], item.links[1], item.links[2]) }}
      {% endfor %}
    </td>
  </tr>
</table>
