---
title: Nikon Zシリーズユーザーにおすすめ 望遠ズームレンズ４選！
description:
bodyId: recommendation_lens_t2_01
utm: ?utm_source=cx_t2_ml&utm_medium=email&utm_campaign=d001_cx_t2_recommendzoomlens_ml
---
{% from '../../components/gap.njk' import gap %}
{% from '../../components/image.njk' import image %}
{% from '../../components/text.njk' import text %}
{% from '../../components/list-order.njk' import listOrder %}
{% from '../../components/button.njk' import button %}
{% from '../../components/buttons.njk' import buttons %}

{{ image(site, bodyId + '/img/hero.png?26081801', '遠くても小さくても、魅力を最大限引き出す　Nikon Zシリーズユーザーにおすすめ 望遠ズームレンズ４選！　世界を惹き寄せる。', 800) }}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 10% 6.25% 7.5% 6.25%; background-color: #000000;">
      {{ image(site, bodyId + '/img/intro-heading-01.png', '被写体を大きく写し出す“望遠”の力') }}
      {{ gap(40) }}
      {{ text('Nikon Zシリーズをお使いの皆さまへ。<br>「遠くの風景や近寄ることのできない被写体を大きく写したい」<br>「動物や野鳥、飛行機の撮影をしてみたい」<br>このように、今以上に撮影の幅を広げたいときにおすすめしたいのが「望遠ズームレンズ」です。', 'text-normal', 'color: #ffffff;') }}
      {{ gap(40) }}
      {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm, bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
      {{ gap(80) }}
      {{ image(site, bodyId + '/img/intro-heading-02.png', '望遠ズームレンズの特徴') }}
      {{ gap(40) }}
      {{ text('おおよそ85mm以上を「望遠」と呼びますが、70mm～135mmを「中望遠」、300mm以上を「超望遠」と呼び、望遠になるほど以下の特徴を活かせます。', 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ listOrder(['遠くの被写体や小さな被写体を大きく写せる', '同じＦ値の場合、望遠ほど大きくボケる'], 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/intro-img-01.png') }}
      {{ gap() }}
      {{ text('特に焦点距離を変えられる望遠ズームレンズは、１本で様々なシーンに対応できるため便利です。', 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/intro-img-02.png') }}
      {{ gap() }}
      {{ text('また、400mmなど超望遠をカバーするレンズは“大きく重い”という印象を持たれているかもしれませんが、小型・軽量化・手ブレ補正の強化が進み、手持ちでも快適に撮影でき、カバンに収まるようなレンズも登場しています。', 'text-normal', 'color: #ffffff;') }}
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 2.5% 10% 2.5%; background-color: #EEEEEF;">
      {{ image(site, bodyId + '/img/lens-heading.png?26081801', 'おすすめの望遠・高倍率ズームレンズ4選', 700, 'padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(25) }}
      {{ text('今回は、超望遠ズームや広角・標準域～望遠をカバーする高倍率ズームまで、表現の幅を広げるおすすめの4本をご紹介します。', 'text-normal', 'text-align: center; padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(40) }}

      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-01-img-01.png?26081801', 'おすすめレンズ 01　卓越した描写力・高性能AF・高い機動力を兼ね備えた望遠ズーム　NIKKOR Z 70-200mm f/2.8 VR S II　[フルサイズ][S-Line]', 760) }}
          </td>
        </tr>
        <tr>
          <td valign="top" align="left" style="padding: 0 3.9%; background-color: #ffffff;">
            {{ gap(40) }}
            {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm + '#lens1', bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
            {{ gap(40) }}
            {{ text('NIKKOR Z レンズの中でも、特に光学性能を追求した「S-Line」の望遠ズームレンズです。<br>スーパーEDレンズや非球面EDレンズを新たに採用し、画面全域でクリアーかつ色再現性の高い描写を実現。メソアモルファスコートとアルネオコートの採用により、逆光などの厳しい撮影条件においても、ゴーストやフレアを大幅に低減します。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-02.png', '逆光などの厳しい撮影条件においてもゴーストやフレアを大幅に低減、応答性の高いAFシステムとの組み合わせにより決定的瞬間を逃さず撮影可能') }}
            {{ gap() }}
            {{ text('光学設計の洗練により高画質と軽量化を両立。従来モデルから約26%の軽量化を達成し、クラス最軽量※1となる約998g※2に。長時間の撮影や高い機動力が求められるシーンでの撮影をさらに容易にします。ニコン史上最も応答性の高いAFシステムとの組み合わせにより、決定的瞬間を逃さず撮影可能です。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※1　2026年2月24日現在、発表済みの70-200mm f/2.8のフルサイズ/FXフォーマットミラーレスカメラ用交換レンズにおいて。ニコン調べ。<br>※2　三脚座リング、保護カバーを除く。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_70-200mm_f28_vr_s_2/', 'https://nij.nikon.com/cms/sp/nikkor_z/lens/nikkor_z_70-200mm_f28_vr_s_2/', 'https://nij.nikon.com/shop/g/g4960759917089/') }}
            {{ gap(60) }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-02-img-01.png?26081801', 'おすすめレンズ 02　600mmまでカバーする、機動性・操作性に優れた超望遠 NIKKOR Z 180-600mm f/5.6-6.3 VR　[フルサイズ]', 760) }}
          </td>
        </tr>
        <tr>
          <td valign="top" align="left" style="padding: 0 3.9%; background-color: #ffffff;">
            {{ gap(40) }}
            {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm + '#lens2', bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
            {{ gap(40) }}
            {{ text('焦点距離180-600mmまでをカバーする、超望遠ズームレンズ。<br>質量は約1955g※3と600mmまでをカバーするレンズとしては軽量で、5.5段※4の強力な手ブレ補正効果と相まって、手持ちでも鳥や動物、飛行機などを快適に撮影できます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-02.png') }}
            {{ gap() }}
            {{ text('ズーミングによる重心移動の少ない「インターナルズーム機構」の採用、レンズを持ち直すことなく広角端⇔望遠端のズーム操作ができるズームリング回転角70°など、優れた操作性を実現。防汚性能に優れ、防塵・防滴に配慮した設計※5により、山の中など屋外でも安心で、撮影の幅を広げる頼もしいレンズです。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※3　約1955g：三脚座リング未装着時。三脚座リング装着時は約2140g。<br>※4　5.5段：CIPA規格準拠。[NORMAL]モード使用時。35mmフィルムサイズ相当（フルサイズ/FXフォーマット）の撮像素子を搭載したミラーレスカメラ使用時。最も望遠側で測定。<br>※5　すべての条件で完全な防塵・防滴を保証するものではありません。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/shop/g/g4960759911049/') }}
            {{ gap(60) }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-03-img-01.png?26081801', 'おすすめレンズ 03　高い光学性能と操作性。超望遠ズームを革新するレンズ NIKKOR Z 100-400mm f/4.5-5.6 VR S　[フルサイズ][S-Line]', 760) }}
          </td>
        </tr>
        <tr>
          <td valign="top" align="left" style="padding: 0 3.9%; background-color: #ffffff;">
            {{ gap(40) }}
            {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm + '#lens3', bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
            {{ gap(40) }}
            {{ text('「S-Line」ならではの圧倒的な光学性能を持ち、焦点距離100mmから400mmの広い範囲をカバーできる超望遠ズームレンズです。<br>遠く離れた1羽の野鳥や群れ全体の撮影、花や昆虫のクローズアップ撮影など、様々な被写体を捉えることができます。最短撮影距離が0.75m（広角端。望遠端は0.98m）と短く、花や昆虫のクローズアップ撮影も可能です。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-02.png') }}
            {{ gap() }}
            {{ text('ズーミングによる重心移動を抑える「重心移動レス機構」の採用、クラス最小※6のズームリング回転角で、レンズを持ち直すことなくズーム操作が可能。クラス最軽量※6の約1355g、一般的な超望遠ズームレンズで発生しやすい自重によるレンズの伸縮を抑制し、持ち歩きや上向きの望遠撮影も快適です。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※6　2021年10月28日現在発表済みの焦点距離100-400mm、開放F値4.5-5.6の35mmフィルムサイズ相当の撮像素子を搭載したレンズ交換式デジタルカメラ用交換レンズにおいて。ニコン調べ。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/shop/g/g4960759906557/') }}
            {{ gap(60) }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-04-img-01.png?26081801', 'おすすめレンズ 04　旅やテーマパーク撮影にも。あらゆるシーンをカバーする高倍率ズーム NIKKOR Z 28-400mm f/4-8 VR　[フルサイズ]', 760) }}
          </td>
        </tr>
        <tr>
          <td valign="top" align="left" style="padding: 0 3.9%; background-color: #ffffff;">
            {{ gap(40) }}
            {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm + '#lens4', bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
            {{ gap(40) }}
            {{ text('広角28mmから超望遠400mmまで、約14.2倍の幅広い焦点距離をカバーする高倍率ズームレンズ。<br>風景、乗り物、スポーツ、動物、花、スナップまで、日常のあらゆるシーンに1本で対応します。全長約141.5mm※7・約725gと携帯性に優れた小型・軽量設計により、カバンやリュックに入れて簡単に持ち運ぶことができ、荷物が多くなってしまう旅先やテーマパークでも快適に撮影できます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-img-02.png') }}
            {{ gap() }}
            {{ text('また、広角端（28mm時）は最大撮影倍率0.35倍、最短撮影距離0.2mの高い近接撮影性能を実現。イスに座った状態からでも、お菓子などを大きく写した印象的なテーブルフォトを撮影できます。5.0段※8の強力な手ブレ補正効果を備え、夕暮れ時や室内などの薄暗いシーンや、400mmの望遠端での撮影時でも、手ブレを気にせず手持ち撮影が可能です。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※7　レンズマウント基準面からレンズ先端まで。<br>※8　CIPA規格準拠。［NORMAL］モード使用時。最も望遠側で測定。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/shop/g/g4960759912893/') }}
            {{ gap(60) }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% set lineupItems = [
{
name: 'NIKKOR Z 70-200mm f/2.8 VR S II',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_70-200mm_f28_vr_s_2/', 'https://nij.nikon.com/cms/sp/nikkor_z/lens/nikkor_z_70-200mm_f28_vr_s_2/', 'https://nij.nikon.com/shop/g/g4960759917089/']
},
{
name: 'NIKKOR Z 180-600mm f/5.6-6.3 VR',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_180-600mm_f56-63_vr/', 'https://nij.nikon.com/shop/g/g4960759911049/']
},
{
name: 'NIKKOR Z 100-400mm f/4.5-5.6 VR S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_100-400mm_f45-56_vr_s/', 'https://nij.nikon.com/shop/g/g4960759906557/']
},
{
name: 'NIKKOR Z 28-400mm f/4-8 VR',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/sp/lens/nikkor_z_28-400mm_f4-8_vr/', 'https://nij.nikon.com/shop/g/g4960759912893/']
}
] %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 0 6.25%;">
      {{ gap(50) }}
      {{ image(site, bodyId + '/img/induction-heading.png?26081801', '「望遠」で惹き寄せる被写体の魅力。') }}
      {{ gap(30) }}
      {{ text('望遠ズームレンズが１本あれば、写真の世界は大きく広がります。<br>ぜひお気に入りのレンズを見つけて、新たな被写体との出会いをお楽しみください。', 'text-normal') }}
      {{ gap(30) }}
      {{ button(site, 'https://nij.nikon.com/learn/phototech/recommended-lenses/lens02.html' + utm + '#lineup', bodyId + '/img/button-web.png', 'WEBでじっくり読みたい方はこちら', true, 600) }}
      {{ gap(60) }}
      {{ image(site, bodyId + '/img/lineup-heading.png?26081801', '望遠・高倍率ズームでおすすめのNIKKOR Zレンズ４選') }}
      {% for item in lineupItems %}
      {{ gap(30) }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-lineup.png', item.name) }}
      {{ gap(30) }}
      {{ buttons(site, bodyId, utm, item.links[0], item.links[1], item.links[2]) }}
      {% endfor %}
      {{ gap(50) }}
    </td>
  </tr>
</table>
