.page-sample {
  .code-example {
    position: relative;
    padding: 8px 10px;
    margin: 30px 0 20px;
    overflow: visible;
    font-size: var(--rem14);
    line-height: 1.3;
    color: #555;
    background: #f6f6f6;
    &::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      padding: 1px 12px;
      font-family: sans-serif;
      font-size: 10px;
      color: #fff;
      content: 'example';
      background: #333;
      border-radius: 10px;
    }
    > code {
      display: block;
      padding: 7px 10px;
      overflow: auto;
      font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, ui-monospace, monospace;
    }
  }
  :where(textarea[readonly]) {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 5px;
    font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, ui-monospace, monospace;
    font-size: var(--rem14);
    line-height: 1.5;
    color: #555;
    resize: none;
    background: #f6f9ff;
  }

  /* sample style */
  .url-inline {
    padding: 10px;
    background: url('_inline/sample-fujiyama.png');
  }
  .url-inline-svg::before {
    display: inline-block;
    width: 40px;
    line-height: 1;
    vertical-align: middle;
    content: url('_inline/sample-logo.svg');
  }
  .url-rebase-cache {
    padding: 10px;
    background: url('/_dev/sample/cat.jpg');
  }
  .svg-inline-logo {
    display: inline-block;
    width: 50vw;
    transition: background-color 0.2s ease-out;
    &:hover {
      --logo-line: #508de3;
      --logo-paint: #d0eb00;
      background-color: #def;
    }
    :where(path) {
      transition: fill 0.2s ease-out;
    }
  }
}
