/* -------------------------------------------------------------------
  ニュース ポスト
------------------------------------------------------------------- */
.news-post {
  > .pager {
    gap: 40px;
  }
}

.news-post-header {
  margin-bottom: 30px;

  > .title {
    font-size: 30px;
    line-height: 1.3;
  }

  > .date {
    font-size: var(--rem14);
  }
}

.news-post-body {
  margin-bottom: 60px;
}
