---
title: Nikon Zシリーズユーザーにおすすめ 初めての単焦点レンズ４選！
description:
bodyId: recommendation_lens_t1_01
utm: ?utm_source=cx_t1_ml&utm_medium=email&utm_campaign=d001_cx_t1_recommendlens_ml
---
{% from '../../components/gap.njk' import gap %}
{% from '../../components/image.njk' import image %}
{% from '../../components/text.njk' import text %}
{% from '../../components/list-order.njk' import listOrder %}
{% from '../../components/buttons.njk' import buttons %}

{{ image(site, bodyId + '/img/heading.png', '美しいボケで、被写体が魅力的に際立つ　Nikon Zシリーズユーザーにおすすめ 初めての単焦点レンズ４選！', 700, true) }}
{{ gap(60) }}
{{ image(site, bodyId + '/img/hero.png?25103101', 'ようこそ単焦点の世界へ。', 800) }}
{{ gap(40) }}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 10% 6.25% 7.5% 6.25%; background-color: #000000;">
      {{ image(site, bodyId + '/img/intro-heading-01.png', '「単焦点」の世界へようこそ') }}
      {{ gap(40) }}
      {{ text('Nikon Zシリーズをお使いの皆さまへ。<br>「背景をぼかして、被写体をより際立たせた写真が撮りたい」<br>「写真家の作品や、SNSで目にするような雰囲気のある写真はどのように撮るのだろう」<br>このように感じられる方に試していただきたいのが「単焦点レンズ」です。<br>どのレンズが良いか迷っている方向けに<br>おすすめの初めての単焦点レンズをご紹介いたします。', 'text-normal', 'color: #ffffff;') }}
      {{ gap(80) }}
      {{ image(site, bodyId + '/img/intro-heading-02.png', '単焦点レンズがおすすめな理由') }}
      {{ gap(40) }}
      {{ listOrder(['大きなボケにより被写体が際立ち、ドラマチックな印象に', 'F値が小さいため、暗い場所でも明るくきれいに撮影できる'], 'text-normal', 'color: #ffffff;') }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/intro-img-01.png') }}
      {{ gap() }}
      {{ text('NIKKOR Z レンズはフルサイズ（FXフォーマット）のカメラ、APS-Cサイズ（DXフォーマット）のカメラ、どちらでもお使いいただけます。', 'text-normal', 'color: #ffffff;') }}
      {{ gap(15) }}
      {{ text('※フルサイズ用のレンズをAPS-Cサイズカメラで使用すると、焦点距離は1.5倍相当になります。例：50mmのレンズをAPS-Cサイズカメラで使用すると75mm相当に。', 'text-small', 'color: #ffffff;') }}
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 2.5% 10% 2.5%; background-color: #EEEEEF;">
      {{ image(site, bodyId + '/img/lens-heading.png', '初めての単焦点レンズ おすすめ4選', 760) }}
      {{ gap(25) }}
      {{ text('今回は、“初めての単焦点レンズ”として<br>おすすめの4本をご紹介します。', 'text-normal', 'text-align: center;') }}
      {{ gap(40) }}

      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-01-heading.png', 'おすすめレンズ 01') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-lead.png', 'なめらかなボケ、克明に描写する解像力 NIKKOR Z 50mm f/1.8 S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-01-name.png', 'NIKKOR Z 50mm f/1.8 S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-product.png', 'NIKKOR Z 50mm f/1.8 S') }}
            {{ gap() }}
            {{ text('NIKKOR Z レンズの中でも、特に光学性能を追求した「S-Line」の標準レンズです。<br>質感までも忠実に再現する高い解像度、とろけるような美しく魅力的なボケ味。開放F値1.8ならではの浅い被写界深度を活かし、ピントを合わせた部分のシャープな描写と相まって、被写体を印象的に際立たせることができます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-02.png') }}
            {{ gap() }}
            {{ text('カメラの撮像面から約0.4mまで被写体に近づいて撮影することも可能です。テーブルフォトなど、被写体との距離が近い場面でも気軽に撮影できます。', 'text-normal') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_50mm_f18_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_50mm_f18_s/', 'https://nij.nikon.com/shop/g/g4960759900067/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-02-heading.png', 'おすすめレンズ 02') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-lead.png', 'ボケを活かした表現が気軽に楽しめる 小型・軽量単焦点レンズ NIKKOR Z 40mm f/2') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-icon.png', '[フルサイズ]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-02-name.png', 'NIKKOR Z 40mm f/2') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-product.png', 'NIKKOR Z 40mm f/2') }}
            {{ gap() }}
            {{ text('開放F値2で、柔らかなボケ表現を実現。目で見た印象に近く、自然な構図をつくりやすい画角です。ポートレートやクローズアップ写真、街角のスナップ撮影など、多彩なシーンに対応し、明るいレンズのため薄暗いシーンでも活躍してくれます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-02.png') }}
            {{ gap() }}
            {{ text('APS-Cサイズ（DXフォーマット）のカメラでは焦点距離60mm相当（35mm判換算）となり、立体感のある描写が得られる画角に。質量約170gの小型・軽量レンズで、気軽にハイクオリティーな撮影を楽しめます。<br>さらに、ヘリテージデザインのスペシャルエディション「NIKKOR Z 40mm f/2（SE）」もあり、ZfやZfcにマッチするデザインです。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-03.png') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_40mm_f2/', 'https://nij.nikon.com/sp/lens/nikkor_z_40mm_f2_se/', 'https://nij.nikon.com/shop/g/g4960759904928/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-03-heading.png', 'おすすめレンズ 03') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-lead.png', '描写を追求した、いつでも持ち歩けるパンケーキレンズ NIKKOR Z 26mm f/2.8') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-icon.png', '[フルサイズ]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-03-name.png', 'NIKKOR Z 26mm f/2.8') }}
            {{ gap(20) }}
            {{ image(site, bodyId + '/img/lens-03-product.png', 'NIKKOR Z 26mm f/2.8') }}
            {{ gap() }}
            {{ text('全長23.5mm※と薄く、質量はわずか約125g。カメラにつけたままカバンにすっきり収まるサイズで、ワイドな画角の迫力ある表現を気軽に楽しめます。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※レンズマウント基準面からレンズ先端まで。', 'text-small') }}
            {{ gap() }}
            {{ text('開放F値は2.8と明るく、大きなボケを活かして被写体を際立たせることができ、ポートレートはもちろん日常の何気ない情景も印象的な画に仕上がります。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-02.png') }}
            {{ gap() }}
            {{ text('26mmの焦点距離は、風景や街角スナップ、テーブルフォトなどの撮影で活躍。APS-Cサイズ（DXフォーマット）のカメラに装着すると39mm相当の画角（35mm判換算）となり、目で見た印象どおりに被写体を収めたいときに重宝します。', 'text-normal') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_26mm_f28/', 'https://nij.nikon.com/sp/lens/nikkor_z_26mm_f28/', 'https://nij.nikon.com/shop/g/g4960759910967/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-04-heading.png', 'おすすめレンズ 04') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-lead.png', 'ボケを楽しむ。APS-Cサイズ用の明るい単焦点レンズ NIKKOR Z DX 24mm f/1.7') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-icon.png', '[APS-Cサイズ]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-04-name.png', 'NIKKOR Z DX 24mm f/1.7') }}
            {{ gap(20) }}
            {{ image(site, bodyId + '/img/lens-04-product.png', 'NIKKOR Z DX 24mm f/1.7') }}
            {{ gap() }}
            {{ text('明るさと小型・軽量を両立した、NIKKOR Z レンズ初のAPS-Cサイズ（DXフォーマット）の単焦点レンズです。<br>開放F値1.7により、背景を大きくぼかして被写体を際立たせることができ、薄暗い場所での撮影の幅も広がります。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-04-img-02.png') }}
            {{ gap() }}
            {{ text('24mm※の画角は風景・ポートレート・料理・スナップなど幅広いシーンに適し、最短撮影距離0.18mと被写体に大胆に近づいて撮ることも可能。小型・軽量設計のため、どこにでも気軽に持ち歩けるのも嬉しいポイントです。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※35mm判換算：36mm相当。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_dx_24mm_f17/', 'https://nij.nikon.com/sp/lens/nikkor_z_dx_24mm_f17/', 'https://nij.nikon.com/shop/g/g4960759911001/') }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% set lineupItems = [
{
name: 'NIKKOR Z 50mm f/1.8 S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_50mm_f18_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_50mm_f18_s/', 'https://nij.nikon.com/shop/g/g4960759900067/']
},
{
name: 'NIKKOR Z 40mm f/2',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_40mm_f2/', 'https://nij.nikon.com/sp/lens/nikkor_z_40mm_f2_se/', 'https://nij.nikon.com/shop/g/g4960759904928/']
},
{
name: 'NIKKOR Z 26mm f/2.8',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_26mm_f28/', 'https://nij.nikon.com/sp/lens/nikkor_z_26mm_f28/', 'https://nij.nikon.com/shop/g/g4960759910967/']
},
{
name: 'NIKKOR Z DX 24mm f/1.7',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_dx_24mm_f17/', 'https://nij.nikon.com/sp/lens/nikkor_z_dx_24mm_f17/', 'https://nij.nikon.com/shop/g/g4960759911001/']
}
] %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 6.25% 7.5% 6.25%;">
      {{ text('単焦点レンズがもたらす新たな撮影体験。<br>レンズを変えることで、写真表現の世界は大きく広がります。<br>ぜひお気に入りの１本を見つけていただき、被写体を際立たせる美しいボケ表現をお楽しみください。', 'text-normal') }}
      {{ gap(40) }}
      {{ image(site, bodyId + '/img/lineup-heading.png', '初めての単焦点におすすめの NIKKOR Zレンズ４選') }}
      {% for item in lineupItems %}
      {{ gap(60) }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-name.png', item.name) }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-product.png', item.name) }}
      {{ gap(40) }}
      {{ buttons(site, bodyId, utm, item.links[0], item.links[1], item.links[2]) }}
      {% endfor %}
    </td>
  </tr>
</table>
