<footer class="footer">
  <p class="footer-copyright">© {{ site.copyright }}</p>
  <ul class="footer-sns">
    <li>
      <a href="#"><span class="c-icon is-x" role="img" aria-label="x"></span></a>
    </li>
    <li>
      <a href="#"><span class="c-icon is-facebook" role="img" aria-label="facebook"></span></a>
    </li>
  </ul>
</footer>
