.header {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 15px 20px;
  color: var(--color-white);
  background-color: var(--color-primary);

  /* @media not print {
    position: sticky;
    top: 0;
    z-index: var(--z-header);
  } */

  :where(a) {
    color: currentColor;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.header-logo {
  margin-right: auto;
  font-size: var(--rem24);
  line-height: 1;
}

.header-gnav {
  justify-self: end;
  > ul {
    display: flex;
    gap: 15px;
  }
}
