<header class="header">
  <div class="header-logo"><a href="/">Home</a></div>
  <nav class="header-gnav">
    <ul>
      <li><a href="#">Sub1</a></li>
      <li><a href="#">Sub2</a></li>
      <li><a href="#">Sub3</a></li>
    </ul>
  </nav>
</header>
