---
title: Components
bodyClass: page-components
---

<h1>icon</h1>
<div class="icon-list">
  <span class="c-icon is-x"></span>
  <span class="c-icon is-facebook"></span>
</div>

<h1>c-button</h1>
<a href="#" class="c-button">a[href]</a>
<button class="c-button">button</button>
<div class="c-button">div</div>
<button class="c-button" disabled="disabled">disabled</button>
<a href="#" class="c-button" disabled="disabled">a[disabled]</a>

<h2>Modifier</h2>
<a href="#" class="c-button is-secondary">secondary</a>
<a href="#" class="c-button"><span class="c-icon is-facebook"></span>icon</a>
<a href="#" class="c-button is-block">block</a>
<a href="#" class="c-button is-center">center</a>
