{% macro gap(size) %}
{% if size === 5 %}
{% set value = 4 %}

{% elif size === 10 %}
{% set value = 7 %}

{% elif size === 15 %}
{% set value = 11 %}

{% elif size === 20 %}
{% set value = 15 %}

{% elif size === 25 %}
{% set value = 19 %}

{% elif size === 30 %}
{% set value = 22 %}

{% elif size === 40 %}
{% set value = 29 %}

{% elif size === 50 %}
{% set value = 37 %}

{% elif size === 60 %}
{% set value = 44 %}

{% elif size === 70 %}
{% set value = 51 %}

{% elif size === 80 %}
{% set value = 58 %}

{% endif %}
<!-- block: gap -->
<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" align="left" style="font-size: 0; line-height: 0; padding-bottom: {{ value | default(22) }}px;" class="gap-{{ size | default(30) }}"></td></tr></table>
<!-- /block: gap -->
{% endmacro %}
