.c-blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 330px));
  gap: 50px 40px;
  justify-content: center;
  margin: 30px 0;
}

.c-blog-item {
  display: block;
  line-height: 1.3;
  text-decoration: none;

  &:hover {
    > .cover > img {
      transform: scale(1.05);
    }
  }

  > .cover {
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #eee;

    > img {
      display: block;
      width: 100%;
      height: auto;
      transition: transform ease-out 0.35s;
    }
  }

  > .title {
    margin: 0;
    font-size: var(--font-size-base);
  }

  > .date {
    font-size: 13px;
  }
}
