.c-news-list {
  display: grid;
  gap: 20px;
  margin: 30px 0;
}

.c-news-item {
  display: block;
  text-decoration: none;
  border-bottom: solid 1px currentColor;

  > .date {
    display: block;
    font-size: var(--rem12);
  }

  > .title {
    margin: 0;
    font-size: var(--font-size);
    font-weight: normal;
  }
}
