---
title: Nikon Zシリーズユーザーにおすすめ 表現の幅を広げるレンズ3選！
description:
bodyId: recommendation_lens_t2_02
utm: ?utm_source=cx_t2_ml&utm_medium=email&utm_campaign=d001_cx_t2_recommendlens_ml
---
{% from '../../components/gap.njk' import gap %}
{% from '../../components/image.njk' import image %}
{% from '../../components/text.njk' import text %}
{% from '../../components/list-order.njk' import listOrder %}
{% from '../../components/buttons.njk' import buttons %}

{{ image(site, bodyId + '/img/heading.png', '新たな写真世界と出会う！　Nikon Zシリーズユーザーにおすすめ 表現の幅を広げるレンズ3選！', 700, true) }}
{{ gap(60) }}
{{ image(site, bodyId + '/img/hero.png?25103101', '新たな世界に出会う。', 800) }}
{{ gap(40) }}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 10% 6.25% 7.5% 6.25%; background-color: #000000;">
      {{ image(site, bodyId + '/img/intro-heading-01.png', 'レンズ１本で、まだ見ぬ世界へ') }}
      {{ gap(40) }}
      {{ text('Nikon Zシリーズをお使いの皆さまへ。<br>ファインダーの向こうに広がる"次なる表現"を探求してみませんか。<br>いつもの街角が壮大な景観に変わり、何気ない被写体がアート作品のように輝き出す。<br>レンズ１本で、新たな写真世界に出会えます。', 'text-normal', 'color: #ffffff;') }}
    </td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 2.5% 10% 2.5%; background-color: #EEEEEF;">
      {{ image(site, bodyId + '/img/lens-heading.png', '創造力を刺激する、個性際立つレンズ3選', 700, 'padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(25) }}
      {{ text('今回ご紹介するのは、それぞれが全く異なる表現力を持つレンズ。目の前の空間を丸ごと写し込むような圧倒的なスケール感、主役だけを別世界のように浮かび上がらせる美しい玉ボケ、普段は見過ごしてしまう小さな世界の精巧なディテール。あなたの創造力を刺激する、運命の1本がきっと見つかります。', 'text-normal', 'text-align: center; padding-right: 3.9%; padding-left: 3.9%;') }}
      {{ gap(40) }}

      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-01-heading.png', 'おすすめレンズ 01') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-lead.png', 'ダイナミックな撮影が楽しめる超広角ズーム NIKKOR Z 14-30mm f/4 S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-01-name.png', 'NIKKOR Z 14-30mm f/4 S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-product.png', 'NIKKOR Z 14-30mm f/4 S') }}
            {{ gap() }}
            {{ text('Zマウントシステムだからこそ実現できた、高い光学性能と小型化を両立した「S-Line」の超広角ズームレンズです。<br>ダイナミックな撮影が楽しめる超広角14mmから、多彩な被写体に対応する汎用性の高い広角30mmまでをカバー。無限遠から近距離まで、絞り開放から画像周辺部までシャープな解像力を発揮し、風景撮影から日常のスナップ、ポートレートまで、幅広い撮影シーンで活用できます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-01-img-02.png', '（左）焦点距離：14mm　（右）焦点距離：30mm') }}
            {{ gap() }}
            {{ text('さらに、ニコンFXフォーマット（フルサイズ）対応レンズとして世界で初めて※1レンズ先端にフィルターを直接装着可能となり、PLフィルターやNDフィルターなどの効果を活かした撮影を実現。フィルターやフードでレンズ最前面を保護できるため、防塵・防滴に配慮した設計と相まって、アクティブなカメラワークにも安心して取り組めます。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※1　 2019年1月8日時点で発売済みの、焦点距離14㎜以下から始まるレンズ交換式デジタルカメラ用ニコンFXフォーマット（フルサイズ）対応交換レンズにおいて。ニコン調べ。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_14-30mm_f4_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_14-30mm_f4_s/', 'https://nij.nikon.com/shop/g/g4960759149480/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-02-heading.png', 'おすすめレンズ 02') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-lead.png', '美しい円形を描く至高の玉ボケ NIKKOR Z 135mm f/1.8 S Plena') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-02-name.png', 'NIKKOR Z 135mm f/1.8 S Plena') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-product.png', 'NIKKOR Z 135mm f/1.8 S Plena') }}
            {{ gap() }}
            {{ text('「Plena」という固有名称を冠するにふさわしいこだわりを注ぎ込み、比類のない描写力を達成した中望遠単焦点レンズです。<br>レンズ構成の最適化を図ることで口径食を極限まで低減し、開放F値1.8から円形度の高いボケ形状を実現。通常のレンズでは難しい、絞り開放から画面全域で円形度が高く美しいボケを活かした表現ができます。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-02-img-02.png') }}
            {{ gap() }}
            {{ text('また、Z マウントのポテンシャルを存分に発揮し、「S-Line」レンズ屈指の解像度を達成。人物の肌や髪の繊細な質感も、克明に生き生きと描写します。画面全体が光に満ち溢れ、「主題の輝き」と「きれいなボケ」が調和した幻想的な表現が可能に。これまでにない映像体験を通して、創造性を最大限引き出します。', 'text-normal') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_135mm_f18_s_plena/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_135mm_f18_s_plena/', 'https://nij.nikon.com/shop/g/g4960759911957/') }}
          </td>
        </tr>
      </table>
      {{ gap(50) }}
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" align="left" style="padding: 6.5% 3.9% 7.8% 3.9%; background-color: #ffffff;">
            {{ image(site, bodyId + '/img/lens-03-heading.png', 'おすすめレンズ 03') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-lead.png', '最高峰の中望遠マイクロレンズ※2 NIKKOR Z MC 105mm f/2.8 VR S') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-01.png') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-icon.png', '[フルサイズ][S-Line]') }}
            {{ gap(15) }}
            {{ image(site, bodyId + '/img/lens-03-name.png', 'NIKKOR Z MC 105mm f/2.8 VR S') }}
            {{ gap(20) }}
            {{ image(site, bodyId + '/img/lens-03-product.png', 'NIKKOR Z MC 105mm f/2.8 VR S') }}
            {{ gap() }}
            {{ text('マクロ撮影からポートレートまで、ひと際美しいボケと高い解像力とのコントラストが目を惹きつける、中望遠等倍マイクロレンズ。<br>色にじみや縁の色づきがない美しいボケと、「S-Line」レンズだからこそ実現できた無限遠から等倍までの高い解像性能が生み出す鮮明な描写。そのコントラストが、他のレンズには真似のできない極めて印象深い表現を可能にします。', 'text-normal') }}
            {{ gap() }}
            {{ image(site, bodyId + '/img/lens-03-img-02.png') }}
            {{ gap() }}
            {{ text('撮影距離を問わず高い結像性能が得られるマルチフォーカス方式のAF駆動には、小型で高出力のSTM（ステッピングモーター）を採用し、高速・高精度なAFを実現。さらに手ブレ補正効果の高いVR機構も搭載。焦点距離105mm、開放F値2.8の中望遠マイクロレンズならではの幅広い表現が楽しめます。', 'text-normal') }}
            {{ gap(15) }}
            {{ text('※2　マクロレンズは本来、原寸大以上の倍率が得られる顕微鏡のような拡大光学系のレンズを指します。このためニコンは定義の厳密性をより重要視し、各社が「マクロレンズ」と呼ぶ縮小光学系で等倍撮影ができるレンズを「マイクロレンズ」と呼んでいます。', 'text-small') }}
            {{ gap(40) }}
            {{ buttons(site, bodyId, utm, 'https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_mc_105mm_f28_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_mc_105mm_f28_vr_s/', 'https://nij.nikon.com/shop/g/g4960759904850/') }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{% set lineupItems = [
{
name: 'NIKKOR Z 14-30mm f/4 S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_14-30mm_f4_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_14-30mm_f4_s/', 'https://nij.nikon.com/shop/g/g4960759149480/']
},
{
name: 'NIKKOR Z 135mm f/1.8 S Plena',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_135mm_f18_s_plena/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_135mm_f18_s_plena/', 'https://nij.nikon.com/shop/g/g4960759911957/']
},
{
name: 'NIKKOR Z MC 105mm f/2.8 VR S',
links: ['https://nij.nikon.com/products/lineup/nikkor/zmount/nikkor_z_mc_105mm_f28_vr_s/', 'https://nij.nikon.com/sp/nikkor_z/lens/nikkor_z_mc_105mm_f28_vr_s/', 'https://nij.nikon.com/shop/g/g4960759904850/']
}
] %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" align="left" style="padding: 7.5% 6.25% 7.5% 6.25%;">
      {{ text('レンズは、あなたに新たな視点を与えてくれます。<br>ぜひお気に入りの1本を見つけて、写真の世界をさらに広げ、<br>新たな作品づくりをお楽しみください。', 'text-normal') }}
      {{ gap(40) }}
      {{ image(site, bodyId + '/img/lineup-heading.png', '表現の幅を広げるおすすめ NIKKOR Zレンズ3選') }}
      {% for item in lineupItems %}
      {{ gap(60) }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-name.png', item.name) }}
      {{ gap() }}
      {{ image(site, bodyId + '/img/lens-0' + loop.index + '-product.png', item.name) }}
      {{ gap(40) }}
      {{ buttons(site, bodyId, utm, item.links[0], item.links[1], item.links[2]) }}
      {% endfor %}
    </td>
  </tr>
</table>
