@custom-media --viewport-md screen and (width >= 768px);
@custom-media --viewport-until-md screen and (width < 768px);
/* 参考：https://getbootstrap.jp/docs/5.0/layout/breakpoints/#available-breakpoints */

:root {
  /* color -------------------------------------- */
  --color: #333;
  --color-primary: #039;
  --color-secondary: #c0f;
  --color-white: #fff;

  /* background */
  --color-bg: #fff;
  --color-bg-black: #000;

  /* link */
  --color-link: #414141;
  --color-link-hover: #999;

  /* font-size -------------------------------------- */
  --font-size: var(--rem16);

  /* rem (size(px)*(1/16rem)) ------------------------ */
  --rem1: 0.0625rem;
  --rem12: calc(12 * var(--rem1));
  --rem14: calc(14 * var(--rem1));
  --rem16: calc(16 * var(--rem1));
  --rem18: calc(18 * var(--rem1));
  --rem24: calc(24 * var(--rem1));

  /* vw (size(px)/base(px)*100vw) ------------------------ */
  /* --vw-base: 375; */
  /* --vw16: calc((16 / var(--vw-base)) * 100vw); */
  /* --vw16-fluid: clamp(var(--rem14), var(--vw16), var(--rem18)); */

  /* line-height -------------------------------------- */
  --line-height: 1.5;

  /* kerning (kerning*(1/1000em)) -------------------------------------- */
  --kern100: calc(100 * 0.001em);

  /* z-index -------------------------------------- */
  --z-header: 999;

  /* font-family -------------------------------------- */
  --family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', Meiryo, sans-serif;
  /* --family-mincho: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho Demibold', 'Yu Mincho', 'YuMincho', Meiryo, serif; */

  /* easing (http://easings.net/) -------------------------------------- */
  /* --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715); */
  /* --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53); */
  /* --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19); */
  /* --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22); */
  /* --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06); */
  /* --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035); */
  /* --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335); */
  /* --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  /* --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1); */
  /* --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  /* --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1); */
  /* --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1); */
  /* --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1); */
  /* --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1); */
  /* --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1); */
  /* --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  /* --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  /* --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  /* --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1); */
  /* --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1); */
  /* --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1); */
  /* --ease-in-out-expo: cubic-bezier(1, 0, 0, 1); */
  /* --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86); */
  /* --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
