/* ===================================================================
  リセット
=================================================================== */
:is(a, input, button, select, textarea):focus-visible {
  outline-width: initial;
  outline-offset: 2px;
}
:where(img, picture, svg, video, canvas) {
  display: block;
  max-width: 100%;
}
:where(ul) {
  list-style-type: none;
}
:where(textarea) {
  display: block;
  width: 100%;
  min-height: 2lh;
  /* max-height: 6lh; */
  field-sizing: content;
}
textarea {
  resize: none;
}
/* :where(p:not(:last-child)) {
  margin-bottom: 1rem;
} */

/* -------------------------------------------------------------------
  ベース
------------------------------------------------------------------- */
html {
  height: 100%;
  font-family: var(--family);
}

body {
  height: 100%;
  /* min-height: 100%; */
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background: var(--color-bg);
  /* -webkit-font-smoothing: antialiased; */

  /* @media print {
    min-height: auto;
  } */
}

:where(a) {
  color: var(--color-link);
  /* text-decoration: underline; */
}
:where(a:hover) {
  color: var(--color-primary);
  /* text-decoration: underline; */
}

:where(h1, h2, h3, h4, h5, h6) {
  /* font-feature-settings: 'palt'; */
  line-height: 1.3;
  /* letter-spacing: 0.05em; */
  /* overflow-wrap: break-word; */
}

/* -------------------------------------------------------------------
  レイアウト
------------------------------------------------------------------- */
main {
  padding: 30px;
}

/* -------------------------------------------------------------------
  ユーティリティ
------------------------------------------------------------------- */
.u-hide-md {
  @media (--viewport-md) {
    display: none !important;
  }
}
.u-hide-until-md {
  @media (--viewport-until-md) {
    display: none !important;
  }
}
.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:where(.u-fluid) {
  display: block;
  width: 100%;
  height: auto;
}
