---
title: HOME
description:
bodyId: home
bodyClass: page-home
ogType: website
---
<section class="home-sample-sect">
  <h2>ニュース</h2>
  <ul class="c-news-list">
    {% for post in collections.news | reverse | limit(3) %}
    <li>
      <a class="c-news-item" href="{{ post.url }}">
        <time class="date" datetime="{{ post.date | dateISO }}">{{ post.date | date }}</time>
        <h3 class="title">{{ post.data.title }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a class="c-button is-center more-button" href="/news/">ニュース一覧</a>
</section>

<section class="home-sample-sect">
  <h2>ブログ</h2>
  <ul class="c-blog-list">
    {% for post in collections.blog | reverse | limit(3) %}
    <li>
      <a class="c-blog-item" href="{{ post.url }}">
        {% if post.data.image %}<div class="cover"><img src="{{ post.data.image }}" width="300" height="200" alt=""></div>{% endif %}
        <h3 class="title">{{ post.data.title }}</h3>
        <time class="date" datetime="{{ post.date | dateISO }}">{{ post.date | date }}</time>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a class="c-button is-center more-button" href="/blog/">ブログ一覧</a>
</section>